body {
    background: #8ec5fc;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
